/*
 * COLORS
 */
$bg-color: #1b1b1b;

$main-color: #ddd;

/*
 * FONTS
 */
$main-font: 'Josefin Sans', sans-serif;

/*
 * PADDINGS
 */
$base-padding: 20px;
$huge-padding: $base-padding * 3;

/*
 * MISC
 */
$home-title: 110px;
$home-quote: 18px;
$main-nav-font-size: 32px;
$header-height: 90px;

/*
 * BORDERS
 */
$border-size: 2px;

/*
 * Z-INDEX
 */
$z-main-nav: 100;

/*
 * Z-INDEX
 */
 $base-anim-duration: .3s;
